# https://dart.dev/guides/libraries/private-files
.dart_tool/
.packages
pubspec.lock

# compiled api
bin/api

# database
bin/db

# build artifacts for static web files during deployment
public/*
!public/.keep
